<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Search Results</h1>
</header>
<div th:if="${#lists.isEmpty(events)}">
    <p>No events found for your search.</p>
</div>
<main>
    <div class="container mb-3">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">/</th>
                            <th scope="col">Event name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Location</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="event : ${events}">
                            <td>
                                <label>
                                    <input type="radio" name="event" th:value="${event.getName()}"
                                           onclick="setSelectedEvent()">
                                </label>
                            </td>
                            <td th:text="${event.getName()}"></td>
                            <td th:text="${event.getDescription()}"></td>
                            <td th:text="${event.getPopularityScore()}"></td>
                            <td th:text="${event.getLocation().getName()}"></td>
                            <td class="text-right">
                                <th:block>
                                    <form th:action="@{'/events/delete/{id}' (id=${event.getId()})}"
                                          th:method="DELETE">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </th:block>
                                <th:block>
                                    <a th:href="@{'/events/edit-form/{id}' (id=${event.getId()})}"
                                       class="btn btn-sm btn-info">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <a href="/events/add-form" class="btn btn-block btn-dark">
                            Add new Event
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <form th:method="POST" th:action="@{/eventBooking}">
                    <h2>Enter name:</h2>
                    <input type="text" name="attendeeName" required><br/>
                    <h2>Enter address:</h2>
                    <input type="text" name="attendeeAddress" required><br/>
                    <h2>Choose number of tickets:</h2>
                    <input type="number" name="numTickets" min="1" max="10" required><br/>
                    <br/>
                    <input type="hidden" id="selectedEventName" name="eventName" required>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</main>
</body>
<script>
    function setSelectedEvent() {
        const values = document.getElementsByName("event");
        let tmp = ""

        for (let i = 0; i < values.length; i++) {
            if (values[i].checked) {
                tmp = values[i].value
                break;
            }
        }
        console.log("Selected Event:", tmp);

        document.getElementById("selectedEventName").value = tmp
    }
</script>
</html>
